#pg-header {
    margin-top: -28px;
    height: 530px;
    background-image: url('../../images/templates/products/newBannerImg.png');
    background-size: cover;
}

#createBtn {
    margin-top: 5px;
}

#hm-bar {
    margin-top: -26px;
    height: 285px;
}

.slide-info {
    padding-top: 10px;
    font-family: 'Black Han Sans', sans-serif;
    font-size: 4em;
    color: rgb(255, 255, 255);
}

.title-txt {
    margin-top: -15px;
    font-family: 'Black Han Sans', sans-serif;
    padding: 10px 0px 10px 0px;
    color: white;
}

.hm-copy {
    font-family: 'Roboto Condensed', sans-serif;
    color: rgb(255, 255, 255);
    font-size: 1.25em;
    margin-top: -10px
}